body {
    margin: 0px;
    background-color: #fafafa;
}

article {
    overflow-x: hidden;
    max-width: calc(100% - 2rem);
    width: 45rem;
    margin: 0 auto;
    font-size: 1.15rem;
    line-height: 1.8rem;
    color: #444;
    padding: 0 1rem;
}

h1 {
    font-size: 2.2rem;
    line-height: 3rem;
}

small {
    font-size: 0.8rem;
    color: #777;
}

a, a:focus {
    text-decoration: none;
    color: #07a;
}

img {
    display: block;
    max-width: 90%;
    margin: 1rem auto;
}

blockquote {
    border-left: 0.3rem solid #aaa;
    padding-left: 2rem;
    font-style: italic;
}

.cover {
    height: 35rem;
    max-height: calc(90vh - 2rem);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    margin-bottom: 1rem;
}
