body {
    margin: 0px;
}

.cover {
    overflow: hidden;
    position: fixed;
    width: 100vw;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

.cover img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    max-width: none;
    opacity: 0;
    transition: 2s;
}

main {
    position: relative;
    background-color: #fcfcfc;
    padding-top: 1rem;
}

article {
    overflow-x: hidden;
    max-width: calc(100% - 3rem);
    width: 45rem;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.8rem;
    color: #444;
    padding: 0 1.5rem 1rem 1.5rem;
}

h1 {
    font-size: 2.2rem;
    line-height: 3rem;
}

small {
    font-size: 0.8rem;
    color: #777;
}

a, a:focus {
    text-decoration: underline;
    color: inherit;
    /*color: #07a;*/
}

img {
    display: block;
    max-width: 90%;
    margin: 1rem auto;
}

blockquote {
    border-left: 0.3rem solid #aaa;
    padding-left: 2rem;
    font-style: italic;
}

code {
    font-family: monospace;
    font-size: 1rem;
    background-color: #eee;
    padding: 0.1rem 0.2rem;
    border-radius: 4px;
}

pre code {
    display: block;
    overflow-x: scroll;
    padding: 0.5rem;
    color: #eee;
    background-color: #444;
}
